# Algorithm Evaluation

In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

### Read the train titanic dataset

In [3]:
import pandas as pd
df = pd.read_csv('train_titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### Check missing values

In [6]:
s = df.isna().sum()
s

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
s[s>0]

Age         177
Cabin       687
Embarked      2
dtype: int64

### Seperate X and Y (Survived), Drop statistically insignificant columns - PassengerID, Name, Ticket

In [9]:
X = df.drop(columns=['PassengerId', 'Name', 'Ticket', 'Survived'])
Y = df[['Survived']]

In [10]:
X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0       3    male  22.0      1      0   7.2500   NaN        S
1       1  female  38.0      1      0  71.2833   C85        C
2       3  female  26.0      0      0   7.9250   NaN        S
3       1  female  35.0      1      0  53.1000  C123        S
4       3    male  35.0      0      0   8.0500   NaN        S

In [11]:
Y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [12]:
Y.value_counts()

Survived
0           549
1           342
Name: count, dtype: int64

### Cat Con seperation On X

In [13]:
cat = list(X.columns[X.dtypes=='object'])
con = list(X.columns[X.dtypes!='object'])

In [14]:
cat

['Sex', 'Cabin', 'Embarked']

In [15]:
con

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

### Preprocessing on X

In [16]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [20]:
num_pipe = Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                           ('scaler', StandardScaler())])

cat_pipe = Pipeline(steps=[('impute', SimpleImputer(strategy='constant', fill_value='unknown')),
                           ('ohe', OneHotEncoder(handle_unknown='ignore'))])

pre = ColumnTransformer([('num', num_pipe, con),
                        ('cat', cat_pipe, cat)])

In [21]:
X_pre = pre.fit_transform(X).toarray()
X_pre

array([[ 0.82737724, -0.56573646,  0.43279337, ...,  0.        ,
         1.        ,  0.        ],
       [-1.56610693,  0.66386103,  0.43279337, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.82737724, -0.25833709, -0.4745452 , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 0.82737724, -0.1046374 ,  0.43279337, ...,  0.        ,
         1.        ,  0.        ],
       [-1.56610693, -0.25833709, -0.4745452 , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.82737724,  0.20276197, -0.4745452 , ...,  1.        ,
         0.        ,  0.        ]])

In [22]:
cols = pre.get_feature_names_out()
cols

array(['num__Pclass', 'num__Age', 'num__SibSp', 'num__Parch', 'num__Fare',
       'cat__Sex_female', 'cat__Sex_male', 'cat__Cabin_A10',
       'cat__Cabin_A14', 'cat__Cabin_A16', 'cat__Cabin_A19',
       'cat__Cabin_A20', 'cat__Cabin_A23', 'cat__Cabin_A24',
       'cat__Cabin_A26', 'cat__Cabin_A31', 'cat__Cabin_A32',
       'cat__Cabin_A34', 'cat__Cabin_A36', 'cat__Cabin_A5',
       'cat__Cabin_A6', 'cat__Cabin_A7', 'cat__Cabin_B101',
       'cat__Cabin_B102', 'cat__Cabin_B18', 'cat__Cabin_B19',
       'cat__Cabin_B20', 'cat__Cabin_B22', 'cat__Cabin_B28',
       'cat__Cabin_B3', 'cat__Cabin_B30', 'cat__Cabin_B35',
       'cat__Cabin_B37', 'cat__Cabin_B38', 'cat__Cabin_B39',
       'cat__Cabin_B4', 'cat__Cabin_B41', 'cat__Cabin_B42',
       'cat__Cabin_B49', 'cat__Cabin_B5', 'cat__Cabin_B50',
       'cat__Cabin_B51 B53 B55', 'cat__Cabin_B57 B59 B63 B66',
       'cat__Cabin_B58 B60', 'cat__Cabin_B69', 'cat__Cabin_B71',
       'cat__Cabin_B73', 'cat__Cabin_B77', 'cat__Cabin_B78',
       'cat__Cabin_B79', 'cat__Cabin_B80', 'cat__Cabin_B82 B84',
       'cat__Cabin_B86', 'cat__Cabin_B94', 'cat__Cabin_B96 B98',
       'cat__Cabin_C101', 'cat__Cabin_C103', 'cat__Cabin_C104',
       'cat__Cabin_C106', 'cat__Cabin_C110', 'cat__Cabin_C111',
       'cat__Cabin_C118', 'cat__Cabin_C123', 'cat__Cabin_C124',
       'cat__Cabin_C125', 'cat__Cabin_C126', 'cat__Cabin_C128',
       'cat__Cabin_C148', 'cat__Cabin_C2', 'cat__Cabin_C22 C26',
       'cat__Cabin_C23 C25 C27', 'cat__Cabin_C30', 'cat__Cabin_C32',
       'cat__Cabin_C45', 'cat__Cabin_C46', 'cat__Cabin_C47',
       'cat__Cabin_C49', 'cat__Cabin_C50', 'cat__Cabin_C52',
       'cat__Cabin_C54', 'cat__Cabin_C62 C64', 'cat__Cabin_C65',
       'cat__Cabin_C68', 'cat__Cabin_C7', 'cat__Cabin_C70',
       'cat__Cabin_C78', 'cat__Cabin_C82', 'cat__Cabin_C83',
       'cat__Cabin_C85', 'cat__Cabin_C86', 'cat__Cabin_C87',
       'cat__Cabin_C90', 'cat__Cabin_C91', 'cat__Cabin_C92',
       'cat__Cabin_C93', 'cat__Cabin_C95', 'cat__Cabin_C99',
       'cat__Cabin_D', 'cat__Cabin_D10 D12', 'cat__Cabin_D11',
       'cat__Cabin_D15', 'cat__Cabin_D17', 'cat__Cabin_D19',
       'cat__Cabin_D20', 'cat__Cabin_D21', 'cat__Cabin_D26',
       'cat__Cabin_D28', 'cat__Cabin_D30', 'cat__Cabin_D33',
       'cat__Cabin_D35', 'cat__Cabin_D36', 'cat__Cabin_D37',
       'cat__Cabin_D45', 'cat__Cabin_D46', 'cat__Cabin_D47',
       'cat__Cabin_D48', 'cat__Cabin_D49', 'cat__Cabin_D50',
       'cat__Cabin_D56', 'cat__Cabin_D6', 'cat__Cabin_D7',
       'cat__Cabin_D9', 'cat__Cabin_E10', 'cat__Cabin_E101',
       'cat__Cabin_E12', 'cat__Cabin_E121', 'cat__Cabin_E17',
       'cat__Cabin_E24', 'cat__Cabin_E25', 'cat__Cabin_E31',
       'cat__Cabin_E33', 'cat__Cabin_E34', 'cat__Cabin_E36',
       'cat__Cabin_E38', 'cat__Cabin_E40', 'cat__Cabin_E44',
       'cat__Cabin_E46', 'cat__Cabin_E49', 'cat__Cabin_E50',
       'cat__Cabin_E58', 'cat__Cabin_E63', 'cat__Cabin_E67',
       'cat__Cabin_E68', 'cat__Cabin_E77', 'cat__Cabin_E8',
       'cat__Cabin_F E69', 'cat__Cabin_F G63', 'cat__Cabin_F G73',
       'cat__Cabin_F2', 'cat__Cabin_F33', 'cat__Cabin_F38',
       'cat__Cabin_F4', 'cat__Cabin_G6', 'cat__Cabin_T',
       'cat__Cabin_unknown', 'cat__Embarked_C', 'cat__Embarked_Q',
       'cat__Embarked_S', 'cat__Embarked_unknown'], dtype=object)

In [23]:
X_pre = pd.DataFrame(X_pre, columns= cols)
X_pre.head()

,num__Pclass,num__Age,num__SibSp,num__Parch,num__Fare,cat__Sex_female,cat__Sex_male,cat__Cabin_A10,cat__Cabin_A14,cat__Cabin_A16,...,cat__Cabin_F33,cat__Cabin_F38,cat__Cabin_F4,cat__Cabin_G6,cat__Cabin_T,cat__Cabin_unknown,cat__Embarked_C,cat__Embarked_Q,cat__Embarked_S,cat__Embarked_unknown
0,0.827377,-0.565736,0.432793,-0.473674,-0.502445,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,-1.566107,0.663861,0.432793,-0.473674,0.786845,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.827377,-0.258337,-0.474545,-0.473674,-0.488854,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,-1.566107,0.433312,0.432793,-0.473674,0.420730,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.827377,0.433312,-0.474545,-0.473674,-0.486337,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

### Seperate Train And Test

In [24]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X_pre, Y, test_size=0.2, random_state=42)

In [25]:
xtrain.shape

(712, 159)

In [26]:
xtest.shape

(179, 159)

### Algorithm Evaluation

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC

In [28]:
dct ={'Logistic': LogisticRegression(),
       'Decision Trees': DecisionTreeClassifier(),
       'Random Forest': RandomForestClassifier(),
       'Gradient Boosting': GradientBoostingClassifier(),
       'SVM': SVC()}

In [29]:
dct.items()

dict_items([('Logistic', LogisticRegression()), ('Decision Trees', DecisionTreeClassifier()), ('Random Forest', RandomForestClassifier()), ('Gradient Boosting', GradientBoostingClassifier()), ('SVM', SVC())])

In [31]:
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
# INitialise blank list to store results
tr =[]
ts =[]
tr_cv =[]
for name, model in dct.items():
    #fit the model
    model.fit(xtrain, ytrain)
    #Predict train and test results
    ypred_tr = model.predict(xtrain)
    ypred_ts = model.predict(xtest)
    # Calculate train f1 score and test f1 score
    tr_f1 = f1_score(ytrain, ypred_tr)
    ts_f1 = f1_score(ytest, ypred_ts)
    # Append the results in tr and ts list
    tr.append(tr_f1)
    ts.append(ts_f1)
    # Cross Validate results
    scores = cross_val_score(model, xtrain, ytrain, cv=5, scoring='f1')
    f1_cv = scores.mean()
    tr_cv.append(f1_cv)

### Create eval_dct and dataframe

In [32]:
list(dct.keys())

['Logistic', 'Decision Trees', 'Random Forest', 'Gradient Boosting', 'SVM']

In [33]:
eval_dct = {'Model':list(dct.keys()),
            'Train_f1':tr,
            'Test_f1':ts,
            'Train_CV':tr_cv}

In [34]:
eval_df = pd.DataFrame(eval_dct)
eval_df

               Model  Train_f1   Test_f1  Train_CV
0           Logistic  0.766859  0.777778  0.706743
1     Decision Trees  0.979127  0.745098  0.694954
2      Random Forest  0.979127  0.739130  0.734761
3  Gradient Boosting  0.858871  0.731343  0.750989
4                SVM  0.773176  0.765957  0.755126

In [35]:
eval_df.sort_values(by='Test_f1', ascending=False)

               Model  Train_f1   Test_f1  Train_CV
0           Logistic  0.766859  0.777778  0.706743
4                SVM  0.773176  0.765957  0.755126
1     Decision Trees  0.979127  0.745098  0.694954
2      Random Forest  0.979127  0.739130  0.734761
3  Gradient Boosting  0.858871  0.731343  0.750989

### Create the logistic regression Model with Hyperparameter Tuning

In [36]:
params = {'C':[0.01, 0.1, 1.0, 10,50,100,1000]}

In [38]:
from sklearn.model_selection import RandomizedSearchCV
lr = LogisticRegression()
rscv = RandomizedSearchCV(lr, param_distributions=params, cv=5, scoring='f1')
rscv.fit(xtrain, ytrain)

RandomizedSearchCV(cv=5, estimator=LogisticRegression(),
                   param_distributions={'C': [0.01, 0.1, 1.0, 10, 50, 100,
                                              1000]},
                   scoring='f1')

In [39]:
rscv.best_params_

{'C': 10}

In [40]:
rscv.best_score_

0.7251923768428623